*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

body #container{
    display: flex; 
}

                /* MENU SINISTRA SPOTIFY */


body header section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: grey;
    background-color: black;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 20px;
    font-size: 15px;
    width: 100%;
    height: 100%; 
}
body header section div picture{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
    margin-left: -5px;
}

#fixed #icon {
    filter: brightness(0) invert(1);
}

body header #fixed{
    position: fixed;
    bottom: 0px;
    width: 15%;
    height: 100%;
    z-index: 1000;
}

body header section div picture{
    color: white;
    font-weight: bold;
    font-size: 200%;
}

body header section div #PLAYLIST{
    color: white;
    padding-bottom: 10px;
}

body header section div ul li span{
  padding-left: 5px;
}

body header section div ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body header section div #screenpx{
    display: none;
}


body header section div ul li:hover{
    color: white;
    
}

body header section div ul h3{
    color: white;
    font-weight: bold;
}

body header section div #testogrande li:first-child{
    font-size: 20px;
    display: flex;
    align-items: center;
    
}

body header section div #testogrande .fa-solid,.fa-plus{
    background: grey;
    color: black;
    padding: 10px; 
    margin-right: 5px; 
}

body header section #down{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 90px;
}

body header section #down ul:first-child{
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

body header section #down ul:last-child{
    color: white;
    padding-top: 3px;
}


              /* EFFETTUA UPGRADE SPOTIFY */


body #partealta{
    width: 100%;
}

body #container #partealta #upgrade div{
    display: flex;
    justify-content: end;
    padding: 20px;
    padding-right: 10px;
    background-color: #121212;
    color: white;
}

body #container #partealta #upgrade div h5{
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}


                 /* NAV SPOTIFY */


body #container #partealta #partecentralediscord ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px 0px;
    background-color: blueviolet;
}

             /* CANZONI IMMAGINI SPOTIFY */


/* <!--parte 1--> */

body #container #partealta #played{  
    background-color: blueviolet;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

body #container #partealta #flexdischi .foto{
    width: 16%;
    height: 16%; 
} 

body #container #partealta #flexdischi .foto img{
    width: 100%;
    height: 100%;
} 


body #container #partealta #flexdischi{
    display: flex;
    padding: 10px;
    text-align: center;   
    gap: 10px; 
    background-color: blueviolet;
}


/* <!--parte 2--> */

body #container #partealta #creatoper{
    background-color: blueviolet;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

body #container #partealta #flexdischidue .fotodue{
    width: 16%;
    height: 16%; 
} 

body #container #partealta #flexdischidue .fotodue img{
    width: 100%;
    height: 100%;
} 
body #container #partealta #flexdischidue{
    display: flex;
    padding: 10px;
    text-align: center;   
    gap: 10px; 
    background-color: blueviolet;
}

/* <!--parte 3--> */

body #container #partealta #popolari{  
    background-color: blueviolet;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

body #container #partealta #flexdischitre .fototre{
    width: 16%;
    height: 16%; 
} 

body #container #partealta #flexdischitre .fototre img{
    width: 100%;
    height: 100%;
} 

body #container #partealta #flexdischitre{
    display: flex;
    padding: 10px;
    text-align: center;   
    gap: 10px; 
    background-color: blueviolet;
}


                    /* FOOTER SPOTIFY */



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; 
  }

footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
}

footer #lettoresinistra{
    display: flex;
    gap: 20px;
    padding-left: 10px;
}
footer #lettoresinistra div i{
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

footer div #lettoresinistra picture img{
    width: 40px;
}

footer div div{
    display: flex;
    gap: 10px;
    color: lightgray;
}

footer div #partecentrale{
    display: flex;
    flex-direction: column;
}

footer div #partecentrale #lettorealto{
    display: flex;
    gap: 30px;
    padding-top: 10px;   
}
footer div #partecentrale #lettorealto #sinistra{
    display: flex;
    gap: 20px;   
}

footer div #partecentrale #lettorealto #centro{
  border: 3px solid white;
  border-radius: 50%;
  padding: 5px;
}

footer div #partecentrale #lettorealto #destra{
    display: flex;
    gap: 20px;   
}

footer div #partedestra{
    display: flex;
    gap: 20px;   
    padding-right: 10px;
}




@media screen and ( max-width: 320px ) {
  header #fixed div ul li span{
    display: none;
  }

  header #fixed div picture span{
    display: none;
  }

  header #fixed div h3{
    display: none;
  }

  header #fixed div #testogrande{
    display: none;
  }
  
  body header section {
    text-align: center;
    justify-content: space-between;
    padding-inline: 15px;
 }
 body header #fixed{
    
    top: 0px;
    height: 70%;
    z-index: 1000;
}
}
  


