*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
}
.web-app{
    height: 100vh;
}

.web-app-top{
    height: calc( 100% - 90px );
    background-color: #141922;
    display: flex;
}

.web-app-bottom{
    height: 90px;
    background-color: gray;
    border: 1px solid red;
}

.web-app-sidebar{
    background-color: black;
    width: 50px;
    height: 100%;
    color: gray;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.web-app-sidebar span,
#off{
     display: none;
}

.web-app-sidebar div ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0px;
}


.web-app-sidebar div picture img{
    filter: brightness(0) invert(1);
    width: 22px;
    margin-left: 15px;
    text-align: center;
}



.web-app-dischi{
   width: calc( 100% - 50px );
   height: 100%;

   padding-top: 110px;
   padding-inline: 20px;
   padding-bottom: 30px;

   color: white;

   display: flex;
   flex-direction: column;
   gap: 30px;

   overflow: auto;
}

.web-app-upgrade{
    height: 90px;
    position: fixed;
    top: 0;
    left: 50px;
    right: 0;
    background-color: #080b12;

    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

.web-app-upgrade .btn{
    padding: 10px 25px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 12px;
}

.web-app-upgrade .btn.btn-white{
    border: 2px solid white;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.web-app-ugrade .btn{
    padding: 10px 15px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 12px;
}

.web-app-ugrade .btn.btn-white{
    border: 2px solid white;
}

.web-app-nav-dischi ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.web-app-nav-dischi ul li a{
   font-size: 12px;
   color: white;
   opacity: 0.5;
}

.web-app-nav-dischi ul li a:hover{
    opacity: 1;
 }

 .web-app-albums,
 .web-app-releae{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
 }

 .web-app-albums .disco,
 .web-app-releae > div,
 .web-app-popolari > div{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
 }

 .web-app-albums .disco h3{
    text-transform: capitalize;
 }

 .web-app-albums .disco span{
    opacity: 0.5; 
}

.web-app-popolari > div figure
.web-app-popolari > div figure img{
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}


.web-app-bottom div{
    display: flex;
    height: 100%;
    justify-content: space-between;
    background-color: #242424;
    font-size: 12px;
    align-items: center;
    gap: 30px;
}

.web-app-bottom div #lettoresinistra{
    display: flex;
    align-items: center; 
    gap: 20px;
    padding-left: 10px;
}

.web-app-bottom #lettoresinistra div i{
    display: flex;
    padding-left: 5px;
}

.web-app-bottom div div{
    display: flex;
    gap: 5px;
    color: lightgray;
}

.web-app-bottom div #partecentrale{
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
}

.web-app-bottom div #partecentrale #lettorealto #sinistra{
    display: flex;
    gap: 10px;   
}

.web-app-bottom div #partecentrale #lettorealto #centro{

  margin-inline: 40px;
}






@media screen and ( min-width: 576px ) {
    .web-app-sidebar{      
        width: 250px;
    }
    .web-app-dischi{
        width: calc( 100% - 250px );
        height: 100%;
     }
     
     .web-app-upgrade{
         left: 250px;   
     }
     .web-app-sidebar{      
        align-items: flex-start;
    }
    
    .web-app-sidebar span,
    #off{
         display: block;
    }
    
    .web-app-sidebar div ul li{
       display: flex;
       padding-left: 20px;
    }
    .web-app-sidebar div ul li:hover{
        border-left: 2px solid #ADFF2F;
        color: white;
     }
    
    .web-app-sidebar div ul{
        gap: 10px;
     }
    .web-app-sidebar div picture img{
        width: auto;
        text-align: start;
        margin-top: 10px;
    }

    .web-app-sidebar div ul li i{
        padding-right: 5px;
    }

    .web-app-sidebar #down ul li:first-child{
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
        padding-right: 80px;
    }
    .web-app-sidebar div #testogrande .fa-plus{
        background-color: gray;
        color: black;
        font-size: 20px;
        padding: 10px;
    }
    .web-app-sidebar div #testogrande li{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .web-app-sidebar #off h3{
        color: white;
    }
    
}



@media screen and ( min-width: 768px ) {
 .web-app-albums .disco,
 .web-app-releae > div,
 .web-app-popolari > div{
    width: calc(100% / 4 - 10px);  
 }
}



@media screen and ( min-width: 992px ) {
    .web-app-albums .disco,
    .web-app-releae > div,
    .web-app-releae-popolari > div{
       width: calc(100% / 6 - 10px);  
}
}



